* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /* header */
  body {
    color: #D160DB;
    font-family: Helvetica, Arial, sans-serif;
  }

  header {
    padding: 20px 35px;
    background-color: #547642;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #D160DB;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color: #D160DB;
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: #D160DB;
    color: #547642 ;
    border-radius: 15px;
    text-shadow: none;
  }

  /* hero */

  .hero {
      /* background-image: url("../images/tree.png"); */
      background-color: #547642;
      display: flex;
  }

  .hero h1 {
    display: flex;
    justify-content: space-between;
    color: black;
    text-shadow: 0 0 10px rgba(107, 102, 102, 0.5);

  }

  #profile-pic {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: space-between;
  }


