* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #547642;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  /* header */
  body {
    color: #D160DB;
    font-family: Helvetica, Arial, sans-serif;
  }

  header {
    padding: 20px 35px;
    background-color: #547642;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #D160DB;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color: #D160DB;
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: #D160DB;
    color: #547642 ;
    border-radius: 15px;
    text-shadow: none;
  }

  /* hero */

  .hero {
      /* background-image: url("../images/tree.png"); */
      display: flex;
      padding: 50px 50px 80px 50px;
  }

  .hero h1 {
    display: flex;
    justify-content: space-between;
    color: black;
    text-shadow: 0 0 10px rgba(250, 242, 242, 0.5);
    padding: 170px ;
    font-family: cursive;
    flex-wrap: wrap;
  }

  #profile-pic {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  }

  /* about me section */
  .about-me {
      padding: 50px;
  }

  .about-me p {
      color: black;
      padding: 20px;
      text-shadow: none;
  }

  /* my work section */
  .my-work {
      padding: 50px;
  }

  .horiseon {
      padding: 20px
  }

  .horiseon p {
      color: black;
      text-shadow: none;
  }
  .horiseon span {

  }


  #horiseon {
    height: 700px;
    padding: 10px
  }

  #run-buddy {
      height: 300px;
      width: 600px;
      padding: 10px;
  }

  #my-profile {
    height: 300px;
    width: 600px;
    padding: 10px;
  }

  .other-work {
      display: flex;
      color: black;
      text-shadow: none;
  }

  .contact-me {
      padding: 50px;
  }

  .contact-me ul {
      color: black;
      padding: 10px;

  }

  





